{% extends 'base.html.twig' %}

{% block title %}Nouvelle Page{% endblock %}

{% block body %}
    <h1>Créer une nouvelle page</h1>

    {{ include('page/_form.html.twig') }}

    <a class="btn btn-primary btn-sm" href="{{ path('app_page_index') }}">Retour à la liste</a>
{% endblock %}
