{% extends 'base.html.twig' %}

{% block title %}Modifier une formation{% endblock %}

{% block body %}
    <h1>Modifier la formation : {{ course.title }}</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
