{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formation</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}"><button>Retour à la liste</button></a>
{% endblock %}
