{% extends 'base.html.twig' %}

{% block title %}Nouvelle formation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formation</h1>

    {{ include('course/_form.html.twig') }}

{% endblock %}
