<form method="post" action="{{ path('app_student_delete', {'id': student.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn btn-danger btn-sm"><i class="bi bi-x-circle"></i>Supprimer</button>
</form>
