{% extends 'base.html.twig' %}

{% block title %}Modifier un étudiant{% endblock %}

{% block body %}
    <h1>Modifier l'étudiant {{ student.fullName }}</h1>

    <div>
    {{ include('student/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('student/_delete_form.html.twig') }}
    
{% endblock %}
