body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }

  button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    background-color: #025194;
  }
  
  button:hover {
    background-color: #1c9cda;
  }

  header {
    display: flex;
    align-items: center;
  }

  div {
    padding: 20px;
  }