{% extends 'base.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau contact</h1>

    {{ include('contact/_form.html.twig') }}

    <a class="btn btn-primary btn-sm" href="{{ path('app_contact_index') }}">Retour à la liste</a>
{% endblock %}
