{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
    <h1>Ecrire un nouveau message à {{ student.fullName }}</h1>

    {{ include('message/_form.html.twig') }}

    <a class="btn btn-primary my-1" href="{{ path('app_message_index') }}">Retour aux messages</a>
{% endblock %}
