{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
    <h1>Ecrire un nouveau message</h1>

    {{ include('message/_form.html.twig') }}

    <a href="{{ path('app_message_index') }}"><button>Retour aux messages</button></a>
{% endblock %}
